h1 {
  font-family: MillerBanner;
  font-size: 1.375rem;
  font-weight: 300;
  text-align: center;
  color: #202020;
  margin: 0;
}

h2 {
  font-family: MillerBanner;
  margin: 0;
}

body {
  margin: 0;
}

p {
  margin: 0;
  font-size: 0.9375rem;
  font-family: Helvetica;
}